.header-menu{
    display: flex;
    justify-content: space-around;
    list-style: none ;
    background-color: $bgrWhite ;
    line-height: 56px ;
    padding: 0 ;
    margin: 0 ;

    &__item{
        width: 20% ;
    }

    &__logo{
        width: 20% ;
        position: relative;
    }

    &__link-logo{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1 ;
    }

    &__link{
        font-weight: $fw7 ;
        font-size: $fz ;
        color: $clrBlack ;
        padding: 10px ;

        &--active{
            color: $clrBrownActive ;
        }

        &:hover{
            color: $clrBlue ;
        }

        &:active{
            color: $clrBrown ;
        }
    }
}